---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: kite
  namespace: supervision
spec:
  interval: 24h
  url: https://zxh326.github.io/kite
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kite
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: kite
      version: 0.7.6
      sourceRef:
        kind: HelmRepository
        name: kite
        namespace: supervision
      interval: 1h
  releaseName: kite
  targetNamespace: supervision
  values:
    db:
      sqlite:
        persistence:
          pvc:
            enabled: true
    rbac:
      rules:
        - apiGroups: ["*"]
          resources: ["*"]
          verbs: ["*"]
        - nonResourceURLs: ["*"]
          verbs: ["*"]
    ingress:
      enabled: true
      className: traefik
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
      hosts:
        - host: kite.egghead.infrao.top
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts:
          - kite.egghead.infrao.top

