---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: prometheus-webui-oidc
spec:
  plugin:
    traefik-oidc-auth:
      CookieNamePrefix: TraefikOidcAuthPrometheus
      CallbackUri: https://prometheus.egghead.infrao.top/oidc/callback
      Provider:
        ClientId: "urn:k8s:secret:prometheus-oidc-secret:providerClientId"
        ClientSecret: "urn:k8s:secret:prometheus-oidc-secret:providerClientSecret"
        Url: "https://pocketid.egghead.infrao.top/"
        UsePkce: false
      Scopes: ["openid", "profile", "email"]
      Secret: "urn:k8s:secret:prometheus-oidc-secret:pluginSecret"
      SessionCookie:
        SameSite: strict
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  url: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
  ref:
    tag: 79.1.1
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 10m
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  values:
    alertmanager:
      enabled: false
    grafana:
      enabled: false
    kubeEtcd:
      enabled: false
    kubeScheduler:
      enabled: false
    kubeProxy:
      enabled: false
    prometheus:
      prometheusSpec:
        retention: ""
        retentionSize: 50GiB
        storageSpec:
          volumeClaimTemplate:
            metadata:
              annotations:
                k8up.io/backup: "false"
            spec:
              storageClassName: local-path
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50.5Gi
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: supervision-prometheus-webui-oidc@kubernetescrd
        hosts:
          - prometheus.egghead.infrao.top
        tls:
          - hosts:
              - prometheus.egghead.infrao.top