# this deploys a GitOpsToolKit kustomization
# for each folder, in its own ns
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: system
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./k8s/infra/system
  prune: true
  timeout: 1m
