apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 24h
  url: https://traefik.github.io/charts
---
# traefik w/ tls from cert-manager secret
# is default ingressclass
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: "37.2.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  releaseName: traefik
  targetNamespace: ingress
  values:
    globalArguments: []
    env:
      - name: TZ
        value: Europe/Paris
    envFrom:
      - secretRef:
          name: traefik-secrets
    tlsStore:
      default:
        defaultCertificate:
          secretName: wildcard-egghead-infrao-top-tls
    service:
      enabled: true
      type: LoadBalancer
      spec:
        externalTrafficPolicy: Local
    ports:
      websecure:
        forwardedHeaders:
          trustedIPs:
            - "127.0.0.1/8"
            - "::1/128"
            - 192.168.8.0/24
            - 192.168.16.0/24
            - 192.168.32.0/24
            - "10.42.0.0/16"
            - "10.43.0.0/16"
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: "traefik"
    experimental:
      plugins:
        traefik-oidc-auth:
          moduleName: github.com/sevensolutions/traefik-oidc-auth
          version: "v0.16.0"