apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 24h
  url: https://traefik.github.io/charts
---
# traefik w/ tls from cert-manager secret
# is default ingressclass
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: "35.3.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  releaseName: traefik
  targetNamespace: ingress
  values:
    globalArguments: []
    # tlsStore:
    #   default:
    #     defaultCertificate:
    #       secretName: my-awesome-secret-tls
    service:
      enabled: true
      type: LoadBalancer
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: "traefik"
