apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 24h
  url: https://traefik.github.io/charts
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: traefik-dashboard-oidc
spec:
  plugin:
    traefik-oidc-auth:
      CookieNamePrefix: TraefikOidcAuthTraefik
      CallbackUri: https://traefik.egghead.infrao.top/oidc/callback
      Provider:
        # You could just write strings here for the values.
        ClientId: "urn:k8s:secret:traefik-secrets:providerClientId"
        ClientSecret: "urn:k8s:secret:traefik-secrets:providerClientSecret"
        Url: "https://pocketid.egghead.infrao.top/"
        UsePkce: false
      Scopes: ["openid", "profile", "email"]
      Secret: "urn:k8s:secret:traefik-secrets:pluginSecret"
      SessionCookie:
        SameSite: strict
---
# traefik w/ tls from cert-manager secret
# is default ingressclass
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: traefik
      version: "39.0.1"
      sourceRef:
        kind: HelmRepository
        name: traefik
      interval: 1h
  releaseName: traefik
  targetNamespace: ingress
  values:
    global:
      checkNewVersion: false
    additionalArguments: 
      - --entryPoints.websecure.transport.respondingTimeouts.readTimeout=1800s
      - --entryPoints.websecure.transport.respondingTimeouts.writeTimeout=1800s
      - --entryPoints.websecure.transport.respondingTimeouts.idleTimeout=1800s
    env:
      - name: TZ
        value: Europe/Paris
    envFrom:
      - secretRef:
          name: traefik-secrets
    tlsStore:
      default:
        defaultCertificate:
          secretName: wildcard-egghead-infrao-top-tls
    service:
      enabled: true
      type: LoadBalancer
      spec:
        externalTrafficPolicy: Local
    ports:
      web:
        http:
          redirections:
            entryPoint:
              to: websecure
              scheme: https
              permanent: true
      websecure:
        http:
          forwardedHeaders:
            trustedIPs:
              - "127.0.0.1/8"
              - "::1/128"
              - 192.168.8.0/24
              - 192.168.16.0/24
              - 192.168.32.0/24
              - "10.42.0.0/16"
              - "10.43.0.0/16"
    ingressClass:
      enabled: true
      isDefaultClass: true
      name: "traefik"
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.egghead.infrao.top`)
        middlewares:
          - name: traefik-dashboard-oidc
            namespace: ingress
        entryPoints:
          - websecure
    resources:
      limits:
        cpu: 100m
        memory: 100Mi
      requests:
        cpu: 50m
        memory: 80Mi
    metrics:
      prometheus:
        service:
          enabled: true
          labels: 
            app: traefik
        serviceMonitor:
          enabled: true
          additionalLabels:
            release: kube-prometheus-stack
    experimental:
      plugins:
        traefik-oidc-auth:
          moduleName: github.com/sevensolutions/traefik-oidc-auth
          version: "v0.16.0"
