---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: forgejo-oci
  namespace: forgejo
spec:
  interval: 1h
  url: oci://code.forgejo.org/forgejo-helm/forgejo
  ref:
    tag: 16.0.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: forgejo
spec:
  interval: 10m
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: forgejo-oci
    namespace: forgejo
  values:
    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
      hosts:
        - host: forgejo.egghead.infrao.top
          paths:
            - path: /
              pathType: Prefix
              port: http
      tls:
        - hosts:
            - forgejo.egghead.infrao.top
    service:
      ssh:
        type: NodePort
        port: 30022
        nodePort: 30022
    deployment:
      env:
        - name: TZ
          value: Europe/Paris
    strategy: 
      type: Recreate
    persistence:
      claimName: forgejo-data
      storageClass: local-path
    gitea:
      admin:
        existingSecret: forgejo-admin-secret
      config:
        server:
          SSH_LISTEN_PORT: 30022
          SSH_PORT: 30022
      oauth:
        - name: PocketID
          existingSecret: forgejo-oauth-secret
          provider: openidConnect
          autoDiscoverUrl: https://pocketid.egghead.infrao.top/.well-known/openid-configuration