apiVersion: batch/v1
kind: CronJob
metadata:
  name: renovate
spec:
  schedule: "0 16 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          volumes:
          - name: renovate-cache
            persistentVolumeClaim:
              claimName: renovate-cache
          containers:
            - name: renovate
              image: renovate/renovate:42.95.1
              envFrom:
                - configMapRef:
                    name: renovate-env
                - secretRef:
                    name: renovate-env
              volumeMounts:
              - mountPath: /tmp/renovate
                name: renovate-cache
          restartPolicy: Never
---
apiVersion: v1
data:
  RENOVATE_BASE_DIR: /tmp/renovate
  RENOVATE_PLATFORM: forgejo
  RENOVATE_ENDPOINT: https://forgejo.egghead.infrao.top/api/v1
  RENOVATE_AUTODISCOVER: "true"
kind: ConfigMap
metadata:
  name: renovate-env
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: renovate-cache
  annotations:
    k8up.io/backup: "false"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi