---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: deluge
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: deluge
        image: linuxserver/deluge:2.2.0
        volumeMounts:
          - mountPath: /config
            name: config
          - mountPath: /downloads
            name: downloads
        env:
          - name: PUID
            value: "1000"
          - name: GUID
            value: "1000"
          - name: TZ
            value: Europe/Paris
          - name: DELUGE_LOGLEVEL
            value: "error"
        volumes:
          - name: downloads
            persistentVolumeClaim:
              claimName: torrents
          - name: config
            persistentVolumeClaim:
              claimName: deluge-config
        service: 8112
        ingress:
          domain: torrent.egghead.infrao.top
          oidc:
            BypassKey: false
            secretRef: deluge-oidc-secret
        pvc:
          - name: deluge-config
            localstorage: true
            backup: true
