---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flaresolverr
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: flaresolverr
        image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
        containerSpec:
          readinessProbe:
            httpGet:
              port: 8191
          livenessProbe:
            httpGet:
              port: 8191
              path: /health
          resources:
            limits:
              cpu: 1000m
              memory: 1000Mi
            requests:
              cpu: 1m
              memory: 100Mi
        env:
          - name: TZ
            value: Europe/Paris
          - name: LOG_LEVEL
            value: debug
        service: 8191

