---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flaresolverr
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: flaresolverr
        image: ghcr.io/flaresolverr/flaresolverr:v3.4.4
        containerSpec:
          resources:
            limits:
              cpu: 100m
              memory: 40Mi
            requests:
              cpu: 1m
              memory: 40Mi
        env:
          - name: TZ
            value: Europe/Paris
          - name: LOG_LEVEL
            value: debug
        service: 8191

