---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: jellyfin
        image: jellyfin/jellyfin:10.11.0
        podSpec:
          securityContext:
            privileged: true
        volumeMounts:
          - mountPath: /config
            name: config
          - mountPath: /cache
            name: cache
          - mountPath: /media
            name: media
            readOnly: true
          - mountPath: /dev/dri
            name: dri
        env:
          - name: JELLYFIN_PublishedServerUrl
            value: https://jellyfin.egghead.infrao.top
          - name: JELLYFIN_CACHE_DIR
            value: /cache
          - name: JELLYFIN_CONFIG_DIR
            value: /config
          - name: JELLYFIN_DATA_DIR
            value: /data
          - name: JELLYFIN_LOG_DIR
            value: /log
          - name: TZ
            value: Europe/Paris
        volumes:
          - name: cache
            emptyDir:
              sizeLimit: 8Gi
          - name: media
            persistentVolumeClaim:
              claimName: media
          - name: config
            persistentVolumeClaim:
              claimName: jellyfin-config
          - name: data
            persistentVolumeClaim:
              claimName: jellyfin-data
          - hostPath:
              path: /dev/dri
              type: Directory
            name: dri
        service: 8096
        ingress:
          domain: jellyfin.egghead.infrao.top
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jellyfin-config
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    server: ohara.infrao.top
    path: /mnt/raid/arr-stack/config/jellyfin/
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config
  namespace: media
spec:
  volumeName: jellyfin-config
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: jellyfin-data
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    server: ohara.infrao.top
    path: /mnt/raid/arr-stack/data/jellyfin/
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-data
  namespace: media
spec:
  volumeName: jellyfin-data
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi