---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: prowlarr
        image: linuxserver/prowlarr:version-2.1.5.5216
        volumeMounts:
          - mountPath: /config
            name: config
        env:
          - name: PUID
            value: "1000"
          - name: GUID
            value: "1000"
          - name: TZ
            value: Europe/Paris
        volumes:
          - name: config
            persistentVolumeClaim:
              claimName: prowlarr-config
        service: 9696
        ingress:
          domain: prowlarr.egghead.infrao.top
          oidc:
            CallbackUri: "https://prowlarr.egghead.infrao.top/oidc/callback"
            OidcUrl: "https://pocketid.egghead.infrao.top/"
            SessionCookie:
              Domain: .egghead.infrao.top
            secretref: prowlarr-oidc-secret
        pvc:
          - name: prowlarr-config
            localstorage: true
            backup: true
