---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: radarr
        image: linuxserver/radarr:5.28.0
        volumeMounts:
          - mountPath: /config
            name: config
          - mountPath: /downloads
            name: torrents
          - mountPath: /movies
            name: movies
        env:
          - name: PUID
            value: "1000"
          - name: GUID
            value: "1000"
          - name: TZ
            value: Europe/Paris
        volumes:
          - name: config
            persistentVolumeClaim:
              claimName: radarr-config
          - name: movies
            persistentVolumeClaim:
              claimName: movies
          - name: torrents
            persistentVolumeClaim:
              claimName: torrents
        service: 7878
        ingress:
          domain: radarr.egghead.infrao.top
          oidc:
            secretRef: radarr-oidc-secret
        pvc:
          - name: radarr-config
            localstorage: true
            backup: true
