---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: radarr
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: radarr
        image: linuxserver/radarr:6.0.4
        containerSpec:
          resources:
            limits:
              cpu: 60m
              memory: 250Mi
            requests:
              cpu: 20m
              memory: 200Mi
        volumeMounts:
          - mountPath: /config
            name: config
          - mountPath: /media-root
            name: arr-media-root
        env:
          - name: PUID
            value: "1000"
          - name: GUID
            value: "1000"
          - name: TZ
            value: Europe/Paris
        volumes:
          - name: config
            persistentVolumeClaim:
              claimName: radarr-config
          - name: arr-media-root
            persistentVolumeClaim:
              claimName: arr-media-root
        service: 7878
        ingress:
          domain: radarr.egghead.infrao.top
          oidc:
            secretRef: radarr-oidc-secret
        pvc:
          - name: radarr-config
            localstorage: true
            backup: true
