---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: seerr-oci
spec:
  interval: 1h
  url: oci://ghcr.io/seerr-team/seerr/seerr-chart
  ref:
    tag: 3.2.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: seerr
spec:
  interval: 10m
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: seerr-oci
  values:
    config:
      persistence:
        annotations:
          k8up.io/backup: "true"
        name: serr-config
    extraEnv:
      - name: TZ
        value: Europe/Paris
    resources:
      limits:
        cpu: 1000m
        memory: 500Mi
      requests:
        cpu: 20m
        memory: 280Mi
    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
      hosts:
        - host: seerr.egghead.infrao.top
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - hosts: 
            - seerr.egghead.infrao.top
