---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: sonarr
        image: linuxserver/sonarr:4.0.16
        volumeMounts:
          - mountPath: /config
            name: config
          - mountPath: /media-root
            name: arr-media-root
        env:
          - name: PUID
            value: "1000"
          - name: GUID
            value: "1000"
          - name: TZ
            value: Europe/Paris
        volumes:
          - name: config
            persistentVolumeClaim:
              claimName: sonarr-config
          - name: arr-media-root
            persistentVolumeClaim:
              claimName: arr-media-root
        service: 8989
        ingress:
          domain: sonarr.egghead.infrao.top
          oidc:
            secretRef: sonarr-oidc-secret
        pvc:
          - name: sonarr-config
            localstorage: true
            backup: true
