apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: immich-oci
spec:
  interval: 1h
  url: oci://ghcr.io/immich-app/immich-charts/immich
  ref:
    tag: 0.10.0
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-shared
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    server: ohara.infrao.top
    path: /mnt/raid/k3s/immich-shared
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-shared
  annotations:
    k8up.io/backup: "true"
spec:
  volumeName: immich-shared
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 10m
  timeout: 5m
  chartRef:
    kind: OCIRepository
    name: immich-oci
  values:
    controllers:
      main:
        containers:
          main:
            image:
              tag: v2.1.0
            env:
              TZ: Europe/Paris
              DB_DATABASE_NAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-database-app
                    key: dbname
              DB_HOSTNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-database-app
                    key: host
              DB_USERNAME:
                valueFrom:
                  secretKeyRef:
                    name: immich-database-app
                    key: user
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-database-app
                    key: password
              DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: immich-database-app
                    key: port
        securityContext:
          privileged: true
        persistence:
          dri:
            enabled: true
            type: hostPath
            mountPath: /dev/dri
            hostPath: /dev/dri
            readOnly: false
    immich:
      metrics:
        enabled: false
      persistence:
        library:
          existingClaim: immich-shared
    valkey:
      enabled: true
      persistence:
        data:
          enable: true
          type: persistentVolumeClaim
          storageClass: nfs
          accessMode: ReadWriteOnce
          size: 1Gi
    server:
      controllers:
        main:
          containers:
            main:
              env:
                IMMICH_CONFIG_FILE: /config/immich-config.yaml
      persistence:
        config:
          enabled: true
          type: secret
          name: immich-config
      ingress:
        main:
          enabled: true
          hosts:
            - host: photos.egghead.infrao.top
              paths:
                - path: /
          tls:
            - hosts:
                - photos.egghead.infrao.top
    machine-learning:
      persistence:
        cache:
          annotations:
            k8up.io/backup: "false"
          enabled: true
          size: 10Gi
          type: persistentVolumeClaim
          accessMode: ReadWriteMany
          storageClass: nfs
