apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: immich-git
spec:
  interval: 1h
  url: https://github.com/immich-app/immich-charts
  ref:
    commit: 4dff0ef9b1881e2a37d18144e38993b465e3e5cc
    # tag: immich-0.9.3
sops:
  age:
    - recipient: age1hqtagr9n8pg56xdzdp53ux5rucge4cpe9sh9t55zst6ruque4ftsw6papx
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5Y2l1SEJxYk1TM2xSK0Fn
        alltZ2RCbGE1VEN2YVFIUGpFc3lNZFhxY0ZrCm1SU2d5aFlhZm9Nb1lBcy82cmFu
        Rk91SHVGdkhFMGpDWlRsRTBKRGJaNU0KLS0tIEJyTG9uVitwZlBZSGg3Snd2enJM
        YnloUVFJaHFUOG92cmdJcm1IT0FVclUKjgGnvrwIbCxXELRkRGcjxmOuiwzP/s+X
        u4uWSjxrXMxbDHJW3FkkqbgwfSOmdzkBLgzeEzCeSV2ipahnpWQb6w==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-10-16T17:58:37Z"
  mac: ENC[AES256_GCM,data:hoHhs207vJ5KRVDTUoD/LKydgnwt64Kg1bLzqpsIDmnOmwI+MtD1UNkLFkGPyHg7S1k2kLRNI9r53C7r3eA+Ixml/ztZtEoM1DhJ8IZyFGMRGs4dN+vd6BT5U+QXEDEYi5DnkKFaGpyN3ruik169wRtooOWxgGsbFODz0VUIZtI=,iv:zVGDxIBw2DRAgMcsMqj3JLzb9OYUW/J7b5i7ZpocbQc=,tag:dCYh5RPxCGQW4tN9LKceLA==,type:str]
  encrypted_regex: ^(clientId|clientSecret)$
  version: 3.11.0
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-shared
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    server: ohara.infrao.top
    path: /mnt/raid/k3s/immich-shared
sops:
  age:
    - recipient: age1hqtagr9n8pg56xdzdp53ux5rucge4cpe9sh9t55zst6ruque4ftsw6papx
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5Y2l1SEJxYk1TM2xSK0Fn
        alltZ2RCbGE1VEN2YVFIUGpFc3lNZFhxY0ZrCm1SU2d5aFlhZm9Nb1lBcy82cmFu
        Rk91SHVGdkhFMGpDWlRsRTBKRGJaNU0KLS0tIEJyTG9uVitwZlBZSGg3Snd2enJM
        YnloUVFJaHFUOG92cmdJcm1IT0FVclUKjgGnvrwIbCxXELRkRGcjxmOuiwzP/s+X
        u4uWSjxrXMxbDHJW3FkkqbgwfSOmdzkBLgzeEzCeSV2ipahnpWQb6w==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-10-16T17:58:37Z"
  mac: ENC[AES256_GCM,data:hoHhs207vJ5KRVDTUoD/LKydgnwt64Kg1bLzqpsIDmnOmwI+MtD1UNkLFkGPyHg7S1k2kLRNI9r53C7r3eA+Ixml/ztZtEoM1DhJ8IZyFGMRGs4dN+vd6BT5U+QXEDEYi5DnkKFaGpyN3ruik169wRtooOWxgGsbFODz0VUIZtI=,iv:zVGDxIBw2DRAgMcsMqj3JLzb9OYUW/J7b5i7ZpocbQc=,tag:dCYh5RPxCGQW4tN9LKceLA==,type:str]
  encrypted_regex: ^(clientId|clientSecret)$
  version: 3.11.0
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-shared
  annotations:
    k8up.io/backup: "true"
spec:
  volumeName: immich-shared
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
sops:
  age:
    - recipient: age1hqtagr9n8pg56xdzdp53ux5rucge4cpe9sh9t55zst6ruque4ftsw6papx
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5Y2l1SEJxYk1TM2xSK0Fn
        alltZ2RCbGE1VEN2YVFIUGpFc3lNZFhxY0ZrCm1SU2d5aFlhZm9Nb1lBcy82cmFu
        Rk91SHVGdkhFMGpDWlRsRTBKRGJaNU0KLS0tIEJyTG9uVitwZlBZSGg3Snd2enJM
        YnloUVFJaHFUOG92cmdJcm1IT0FVclUKjgGnvrwIbCxXELRkRGcjxmOuiwzP/s+X
        u4uWSjxrXMxbDHJW3FkkqbgwfSOmdzkBLgzeEzCeSV2ipahnpWQb6w==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-10-16T17:58:37Z"
  mac: ENC[AES256_GCM,data:hoHhs207vJ5KRVDTUoD/LKydgnwt64Kg1bLzqpsIDmnOmwI+MtD1UNkLFkGPyHg7S1k2kLRNI9r53C7r3eA+Ixml/ztZtEoM1DhJ8IZyFGMRGs4dN+vd6BT5U+QXEDEYi5DnkKFaGpyN3ruik169wRtooOWxgGsbFODz0VUIZtI=,iv:zVGDxIBw2DRAgMcsMqj3JLzb9OYUW/J7b5i7ZpocbQc=,tag:dCYh5RPxCGQW4tN9LKceLA==,type:str]
  encrypted_regex: ^(clientId|clientSecret)$
  version: 3.11.0
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: charts/immich
      sourceRef:
        kind: GitRepository
        name: immich-git
  values:
    env:
      TZ: Europe/Paris
      DB_DATABASE_NAME:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: dbname
      DB_HOSTNAME:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: host
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: user
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: password
      DB_PORT:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: port
    image:
      tag: v2.1.0
    securityContext:
      privileged: true
    persistence:
      dri:
        enabled: true
        type: hostPath
        mountPath: /dev/dri
        hostPath: /dev/dri
        readOnly: false
    immich:
      metrics:
        enabled: false
      persistence:
        library:
          existingClaim: immich-shared
      # configuration is immich-config.json converted to yaml
      # ref: https://immich.app/docs/install/config-file/
      #
      configuration:
        ffmpeg:
          acceptedVideoCodecs:
            - h264
            - hevc
            - vp9
          accel: vaapi
          accelDecode: true
        backup:
          database:
            # handled by k8up + cnpg
            enabled: false
        oauth:
          enabled: true
          autoLaunch: true
          issuerUrl: https://pocketid.egghead.infrao.top/.well-known/openid-configuration
          clientId: ENC[AES256_GCM,data:R0As9e+DEy6NMFzaM9t1dcLI0zLaqbR3J6e5b6I1k0Lxo5Ow,iv:P3diR5t9FQzdh+lvIsR/ZNJ0omIiDgQnvF7kqLiwPiU=,tag:RPbxhOF3CEWml8HNGiAarA==,type:str]
          clientSecret: ENC[AES256_GCM,data:hQ7/SazL/P1mh8x8Y4HaolP0HJ6pyiMJVBOXL9PV3lg=,iv:8nT+hWTyVjn7LfibymHonQNyOYgL5eLDvYcjRFR/oFk=,tag:yQi1p9uJ6WUFZ6jPvGcu0g==,type:str]
          buttonText: Login with Pocket ID
    valkey:
      env:
        TZ: Europe/Paris
      enabled: true
      persistence:
        data:
          storageClass: nfs
          accessMode: ReadWriteOnce
          # Set a size appropriate for your needs
          size: 1Gi
    server:
      env:
        TZ: Europe/Paris
      ingress:
        main:
          enabled: true
          hosts:
            - host: photos.egghead.infrao.top
              paths:
                - path: /
          tls:
            - hosts:
                - photos.egghead.infrao.top
    machine-learning:
      env:
        TZ: Europe/Paris
      persistence:
        cache:
          annotations:
            k8up.io/backup: "false"
          enabled: true
          size: 10Gi
          type: pvc
          accessMode: ReadWriteMany
          storageClass: nfs
sops:
  age:
    - recipient: age1hqtagr9n8pg56xdzdp53ux5rucge4cpe9sh9t55zst6ruque4ftsw6papx
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5Y2l1SEJxYk1TM2xSK0Fn
        alltZ2RCbGE1VEN2YVFIUGpFc3lNZFhxY0ZrCm1SU2d5aFlhZm9Nb1lBcy82cmFu
        Rk91SHVGdkhFMGpDWlRsRTBKRGJaNU0KLS0tIEJyTG9uVitwZlBZSGg3Snd2enJM
        YnloUVFJaHFUOG92cmdJcm1IT0FVclUKjgGnvrwIbCxXELRkRGcjxmOuiwzP/s+X
        u4uWSjxrXMxbDHJW3FkkqbgwfSOmdzkBLgzeEzCeSV2ipahnpWQb6w==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-10-16T17:58:37Z"
  mac: ENC[AES256_GCM,data:hoHhs207vJ5KRVDTUoD/LKydgnwt64Kg1bLzqpsIDmnOmwI+MtD1UNkLFkGPyHg7S1k2kLRNI9r53C7r3eA+Ixml/ztZtEoM1DhJ8IZyFGMRGs4dN+vd6BT5U+QXEDEYi5DnkKFaGpyN3ruik169wRtooOWxgGsbFODz0VUIZtI=,iv:zVGDxIBw2DRAgMcsMqj3JLzb9OYUW/J7b5i7ZpocbQc=,tag:dCYh5RPxCGQW4tN9LKceLA==,type:str]
  encrypted_regex: ^(clientId|clientSecret)$
  version: 3.11.0
