---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: immich-git
spec:
  interval: 1h
  url: https://github.com/immich-app/immich-charts
  ref:
    commit: 4dff0ef9b1881e2a37d18144e38993b465e3e5cc
    # tag: immich-0.9.3
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: immich-shared
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs
  nfs:
    server: ohara.infrao.top
    path: /mnt/raid/k3s/immich
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-shared
spec:
  volumeName: immich-shared
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Mi
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 10m
  timeout: 5m
  chart:
    spec:
      chart: charts/immich
      sourceRef:
        kind: GitRepository
        name: immich-git
  values:
    env:
      TZ: Europe/Paris
      DB_DATABASE_NAME:         
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: dbname
      DB_HOSTNAME: 
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: host
      DB_USERNAME:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: user
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: password
      DB_PORT:
        valueFrom:
          secretKeyRef:
            name: immich-database-app
            key: port
    image:
      tag: v2.0.1
    immich:
      metrics:
        enabled: false
      persistence:
        library:
          existingClaim: immich-shared
      # configuration is immich-config.json converted to yaml
      # ref: https://immich.app/docs/install/config-file/
      #
      configuration: 
        backup:
          database: 
            enabled: false

    valkey:
      enabled: true
      persistence:
        data:
          type: pvc
          storageClass: nfs
    server: 
      env:
        TZ: Europe/Paris
      ingress:
        main:
          enabled: true
          hosts:
            - host: photos.egghead.infrao.top
              paths:
              - path: /
          tls:
            - hosts:
              - photos.egghead.infrao.top
    machine-learning:
      env:
        TZ: Europe/Paris
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: pvc
          accessMode: ReadWriteMany
          storageClass: nfs
