# the chart will iter on apps
apps:

    # here is what a very simple app can look like:
  - name: simple-echo
    image: traefik/whoami:latest
    service: 80
    ingress:
      domain: echo.domain.com

    # here is a more complex deployment with various available options
    # name for the deployment and pods
  - name: busy
  
    # image  
    image: busybox:latest

    # use this key to configure the deployment
    deploymentSpec:
      strategy:
        type: Recreate

    # env vars
    env:
      - name: key
        value: val

    # classic volume definition
    volumeMounts:
      - name: config
        mountPath: /etc/app
      - name: data
        mountPath: /data
    volumes:
      - name: config
        configMap:
          name: conf
      - name: data
        persistentVolumeClaim:
          claimName: data

    # extra spec for the pod
    podSpec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: topology.kubernetes.io/zone
                operator: In
                values:
                - antarctica-east1

    # extras spec for the container
    containerSpec:
      envFrom:
        - secretRef:
            name: test-secret

    # create a svc on that target port
    service: 8080
    
   
    # will create a pvc w/ this name
    pvc:
      - name: data
        backup: false
    
    # create the appropriate ingress
    # default ingressclass is traefik, w/ cors-policy header if defined
    # And protected oidc
    ingress:
      corspolicy: https://domain.com
      domain: app.domain.com
      oidc:
        CallbackUri: "https://app.domain.com/oidc/callback"
        OidcUrl: "https://oidc.domain.com/"
        # See https://traefik-oidc-auth.sevensolutions.cc/docs/getting-started/callback-uri
        SessionCookie:
          Domain: .domain.com
        # The secret must contains these key : 
        # - ClientId : Oidc client ID
        # - ClientSecret : Oidc client Secret
        # - pluginSecret : Plugin Oidc traefik encryption secret
        secretref: oidc-secret

# shortcuts for creating simple configmaps
configmaps:
  conf:
    key: value
