---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dagu
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: dagu-server
        image: ghcr.io/dagu-org/dagu:1.23.4
        containerSpec:
          command:
            - dagu
            - start-all
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
            - containerPort: 50055
              name: grpc
              protocol: TCP
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
        volumeMounts:
          - name: dagu-data
            mountPath: /var/lib/dagu
        env:
          - name: DAGU_COORDINATOR_HOST
            value: 0.0.0.0
          - name: DAGU_COORDINATOR_ADVERTISE
            value: dagu-server
        envFrom:
          - configMapRef:
              name: dagu-config
        volumes:
          - name: dagu-data
            persistentVolumeClaim:
              claimName: dagu-data
        service:
          - 8080
          - 50055
        ingress:
          domain: dagu.egghead.infrao.top
        pvc:
          - name: dagu-data
            localstorage: true
            backup: false
      - name: dagu-worker
        image: ghcr.io/dagu-org/dagu:1.23.4
        containerSpec:
          command:
            - dagu
            - worker
            - --worker.id
            - $(WORKER_ID)
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
        volumeMounts:
          - name: dagu-data
            mountPath: /var/lib/dagu
        env:
          - name: DAGU_COORDINATOR_HOST
            value: dagu-server
          - name: WORKER_ID
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
        envFrom:
          - configMapRef:
              name: dagu-config
        volumes:
          - name: dagu-data
            persistentVolumeClaim:
              claimName: dagu-data
    configmaps:
      dagu-config:
        DAGU_COORDINATOR_PORT: "50055"
        DAGU_HOST: 0.0.0.0
        DAGU_PORT: "8080"
        DAGU_DAGS_DIR: /var/lib/dagu/dags
        DAGU_HOME: /var/lib/dagu
        DAGU_TZ: Europe/Paris
