apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  install:
    createNamespace: true
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  targetNamespace: services
  values:
    apps:
      - name: vaultwarden
        image: vaultwarden/server:1.34.3
        volumeMounts:
          - name: vaultwarden-data
            mountPath: /data
        volumes:
          - name: vaultwarden-data
            persistentVolumeClaim:
              claimName: vaultwarden-data
        service: 80
        ingress:
          domain: vaultwarden.egghead.infrao.top
        pvc:
          - name: vaultwarden-data
            backup: true
