---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-ddns
spec:
  interval: 10m
  chart:
    spec:
      chart: ./k8s/appchart
      version: "x.x.x"
      sourceRef:
        kind: GitRepository
        name: flux-system
        namespace: flux-system
      interval: 10m
  values:
    apps:
      - name: cloudflare-ddns
        image: favonia/cloudflare-ddns:1.15.1
        env:
          - name: IP6_PROVIDER
            value: "none"
          - name: TZ
            value: Europe/Paris
        envFrom:
          - secretRef:
              name: cloudflare-api-token
              optional: false
