name: flux-local test
permissions:
  contents: read
on:
  push:
    branches-ignore: ["main"]

jobs:
  test:
    name: flux test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      # Step 1: Build the cluster state, which fetches GitRepository sources
      - name: Build local flux state
        uses: docker://ghcr.io/allenporter/flux-local:v7
        with:
          # The 'build' command finds all sources and preps them for testing.
          # The output is a manifest of all resources with local paths.
          args: build all --enable-helm k8s/flux --output-file kustomizations.yaml
      
      # Step 2: Run the test against the built state from the previous step
      - name: Run flux-local test
        uses: docker://ghcr.io/allenporter/flux-local:v7
        with:
          # We pipe the built manifest into the 'test' command via stdin
          # This ensures the test has access to the fetched Helm charts.
          args: test --enable-helm --all-namespaces --stdin -v
          # The command will read from the file piped to its standard input
          entrypoint: /bin/sh
          shell_args: -c "cat kustomizations.yaml | flux-local test --enable-helm --all-namespaces --stdin -v"